.rmp-results-widget {
  margin-bottom: 15px;
}

.rmp-rating-widget {
  margin: 30px 0;
}

.rmp-results-widget__vote-count {
  display: none !important;
}

.rmp-results-widget--not-rated {
  display: none !important; 
}